name: Build laravel Sail Docker Images

on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  prepare:
    name: Prepare Laravel Sail source
    runs-on: ubuntu-latest
    steps:
      - name: Clone Laravel Sail repository
        run: |
          git clone https://github.com/laravel/sail.git
          tar -czf sail.tar.gz sail
      - name: Upload Sail source
        uses: actions/upload-artifact@v4
        with:
          name: sail-source
          path: sail.tar.gz
  build:
    name: Build Laravel Sail (${{ matrix.php-version }})
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      matrix:
        php-version: ["8.0", "8.1", "8.2", "8.3", "8.4"]
    steps:
      - name: Download Sail source
        uses: actions/download-artifact@v4
        with:
          name: sail-source
          path: .

      - name: Extract Sail source
        run: tar -xzf sail.tar.gz

      - name : Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Sail image
        run : |
          cd sail/runtimes/${{ matrix.php-version }}
          # ---------------- REMOVE NODE AND YARN -----------------------
          sed -i -E 's/^[[:space:]]*(.*npm install -g npm.*)/#\1/' Dockerfile || true
          sed -i -E 's/^[[:space:]]*(.*npm install -g bun.*)/#\1/' Dockerfile || true
          sed -i -E 's/^[[:space:]]*(.*apt-get install -y yarn.*)/#\1/' Dockerfile || true
          sed -i -E 's/^[[:space:]]*(.*apt-get install -y nodejs.*)/#\1/' Dockerfile || true
          sed -i -E 's/^[[:space:]]*(.*npm install -g pnpm.*)/#\1/' Dockerfile || true
          # ---------------- END REMOVE NODE AND YARN -----------------------
          docker build --build-arg WWWGROUP=1010 -t laravel-sail-php${{ matrix.php-version }} .

      - name: Export image to tar
        run: |
          mkdir -p output
          docker save laravel-sail-php${{ matrix.php-version }} -o output/laravel-sail-php${{ matrix.php-version }}.tar

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: sail-php${{ matrix.php-version }}
          path: output/laravel-sail-php${{ matrix.php-version }}.tar

  release:
    permissions:
      contents: write
    name: Publish to Github Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./release-files

      - name: Create Github Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v1.0.${{ github.run_number }}
          name: Laravel Sail Docker Images
          files: ./release-files/**/*.tar
